@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap");
/* Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
}

header {
  background-color: white;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
}

.h-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column: 2;
  -ms-grid-column-span: 38;
  grid-column: 2/40;
  margin: 1rem 0;
  position: relative;
  height: 30px;
}

.logo {
  font-family: 'Heebo', sans-serif;
  font-size: 2.25rem;
  font-weight: 1.5rem;
}

@media (max-width: 700px) {
  .logo {
    font-size: 1.7rem;
  }
}

.desktop-nav ul,
.mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-nav ul li,
.mobile-nav ul li {
  padding-left: 3rem;
  list-style: none;
}

.desktop-nav ul li a,
.mobile-nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  -webkit-transition: scale 0.5s linear;
  transition: scale 0.5s linear;
}

.desktop-nav ul li a:hover,
.mobile-nav ul li a:hover {
  border-bottom: 2px dotted #2d9cdb;
}

@media (max-width: 700px) {
  .desktop-nav,
  .mobile-nav {
    display: none;
  }
}

.humbegger {
  display: none;
  margin-left: 2rem;
  cursor: pointer;
}

.humbegger .dash {
  height: 2px;
  width: 25px;
  background-color: black;
  margin: 5px;
}

@media (max-width: 700px) {
  .humbegger {
    display: block;
  }
}

.humbegger.opened .dash-1 {
  -webkit-transform: rotate(45deg) translateY(5px);
          transform: rotate(45deg) translateY(5px);
}

.humbegger.opened .dash-2 {
  display: none;
}

.humbegger.opened .dash-3 {
  -webkit-transform: rotate(-45deg) translateY(-5px);
          transform: rotate(-45deg) translateY(-5px);
}

.mobile-nav {
  display: none;
  -webkit-animation: height-animation 1s ease-in-out;
          animation: height-animation 1s ease-in-out;
}

.mobile-nav.opened {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 50px;
  background: white;
}

@media (max-width: 700px) {
  .mobile-nav.opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-nav.opened ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-nav.opened ul li {
  margin: 1rem;
  padding: 0;
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mobile-nav.opened ul li a {
  text-decoration: none;
  color: #333333;
  -webkit-animation: opacity-animation 1s ease-in-out;
          animation: opacity-animation 1s ease-in-out;
  font-weight: 500;
}

@-webkit-keyframes height-animation {
  0% {
    height: 0%;
  }
  100% {
    height: 400px;
  }
}

@keyframes height-animation {
  0% {
    height: 0%;
  }
  100% {
    height: 400px;
  }
}

@-webkit-keyframes opacity-animation {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}

main {
  background-color: white;
}

.main {
  max-width: 1200px;
  margin: 0rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
}

.m-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 38;
  grid-column: 2/40;
}

footer {
  background-color: #100e1d;
  color: white;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[40];
      grid-template-columns: repeat(40, 1fr);
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.footer > .footer-top {
  -ms-grid-column: 2;
  -ms-grid-column-span: 38;
  grid-column: 2/40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

@media (max-width: 550px) {
  .footer > .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 1rem;
  }
}

@media (max-width: 550px) {
  .footer > .footer-top .site-map {
    margin-bottom: 2rem;
  }
}

.footer > .footer-top .site-map ul > li {
  list-style: none;
  padding: 0.3rem 0;
  font-size: 1.1rem;
}

.footer > .footer-top .site-map ul > li a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 550px) {
  .footer > .footer-top .social-links {
    margin-bottom: 2rem;
  }
}

.footer > .footer-top .social-links h2 {
  font-family: 'Heebo', sans-serif;
  font-size: 2rem;
}

.footer > .footer-top .form label {
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
}

.footer > .footer-top .form .input-area {
  margin-top: 0.5rem;
  background-color: white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5rem;
  width: 15rem;
  border-radius: 10px;
}

.footer > .footer-top .form .input-area input {
  border: none;
  padding-left: 8px;
  outline: none;
}

.footer > .footer-top .form .input-area span {
  background-color: #2d9cdb;
  height: 2.2rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 7px;
  margin-right: 2px;
}

.footer > .footer-down {
  -ms-grid-column: 2;
  -ms-grid-column-span: 38;
  grid-column: 2/40;
  padding: 1rem;
  margin-top: 4rem;
}

@media (max-width: 550px) {
  .footer > .footer-down {
    margin-top: 2rem;
  }
}

.footer > .footer-down p {
  text-align: center;
  font-size: 0.8rem;
}

.footer > .footer-down p a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */