footer {
  background-color: $dark-blue;
  color: white;
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: 1fr auto;
}

.footer > .footer-top {
  grid-column: 4/37;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  @media (max-width: 550px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .site-map {
    @media (max-width: 550px) {
      margin-bottom: 2rem;
    }
    ul > li {
      list-style: none;
      padding: 0.3rem 0;
      font-size: 1rem;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .social-links {
    @media (max-width: 550px) {
      margin-bottom: 2rem;
    }
    h2 {
      font-family: 'Heebo', sans-serif;
      font-size: 2rem;
    }
  }

  .form {
    label {
      font-size: 0.7rem;
      font-family: 'Poppins', sans-serif;
    }
    .input-area {
      margin-top: 0.5rem;
      background-color: white;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2.5rem;
      max-width: 15rem;
      border-radius: 10px;
      input {
        border: none;
        padding-left: 8px;
        outline: none;
      }
      span {
        background-color: $blue;
        height: 2.2rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        margin-right: 2px;
      }
    }
  }
}
.footer > .footer-down {
  grid-column: 2/40;
  padding: 1rem;
  margin-top: 4rem;
  @media (max-width: 550px) {
    margin-top: 2rem;
  }
  p {
    text-align: center;
    font-size: 0.8rem;
    a {
      text-decoration: none;
      color: inherit;
      font-weight: 700;
    }
  }
}
