header {
  background-color: white;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}
.h-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/40;
  margin: 1rem 0;
  position: relative;
  height: 30px;
}

.logo {
  font-family: 'Heebo', sans-serif;
  font-size: 2.25rem;
  font-weight: 1.5rem;
  @media (max-width: 700px) {
    font-size: 1.7rem;
  }
}
.desktop-nav,
.mobile-nav {
  ul {
    display: flex;

    li {
      padding-left: 3rem;
      list-style: none;

      a {
        text-decoration: none;
        color: $gray1;
        font-weight: 500;
        transition: scale 0.5s linear;
      }
      a:hover {
        border-bottom: 2px dotted $blue;
      }
    }
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.humbegger {
  display: none;
  margin-left: 2rem;
  cursor: pointer;

  .dash {
    height: 2px;
    width: 25px;
    background-color: $black;
    margin: 5px;
  }

  @media (max-width: 700px) {
    display: block;
  }
}

.humbegger.opened {
  .dash-1 {
    transform: rotate(45deg) translateY(5px);
  }
  .dash-2 {
    display: none;
  }
  .dash-3 {
    transform: rotate(-45deg) translateY(-5px);
  }
}

.mobile-nav {
  display: none;
  animation: height-animation 1s ease-in-out;
}
.mobile-nav.opened {
  display: none;
  @media (max-width: 700px) {
    display: flex;
  }
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 50px;
  background: white;

  ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      margin: 1rem;
      padding: 0;
      list-style: none;
      align-self: center;

      a {
        text-decoration: none;
        color: $gray1;
        animation: opacity-animation 1s ease-in-out;
        font-weight: 500;
      }
    }
  }
}

@keyframes height-animation {
  0% {
    height: 0%;
  }
  100% {
    height: 400px;
  }
}
@keyframes opacity-animation {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 30%;
  }
  100% {
    opacity: 100%;
  }
}
