main {
  background-color: white;
}

.main {
  max-width: 1200px;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  margin-top: 8rem;
  @media (max-width: 700px) {
    margin-top: 5rem;
  }
}

.home-container {
  grid-column: 2/40;
  display: grid;
  grid-template-columns: repeat(40, 1fr);

  .blue-p {
    grid-column: 6/41;
    font-size: 1.1rem;
    color: $blue;
    @media (max-width: 700px) {
      grid-column: 4/41;
    }
    @media (max-width: 550px) {
      font-size: 0.7rem;
      grid-column: 3/41;
    }
  }
  .hero-head {
    grid-column: 6/41;
    font-size: 48px;
    max-width: 550px;
    color: $gray1;
    @media (max-width: 700px) {
      grid-column: 4/41;
    }
    @media (max-width: 550px) {
      grid-column: 3/41;
      font-size: 24px;
      max-width: 280px;
    }
  }
  .hero-img {
    grid-column: 1/41;
    width: 100%;
    margin: 2rem 0;
    border-radius: 0.8rem;
    @media (max-width: 550px) {
      margin: 1rem 0;
    }
  }

  .mail-head {
    grid-column: 6/41;
    font-size: 48px;
    max-width: 400px;
    color: $gray1;
    @media (max-width: 700px) {
      grid-column: 4/41;
    }
    @media (max-width: 550px) {
      grid-column: 3/41;
      font-size: 24px;
      max-width: 300px;
    }
  }
  .mail-p {
    grid-column: 6/41;
    font-size: 18px;
    max-width: 350px;
    color: $gray2;
    @media (max-width: 700px) {
      grid-column: 4/41;
    }
    @media (max-width: 550px) {
      font-size: 12px;
      grid-column: 3/41;
      max-width: 300px;
    }
  }

  .mail-form {
    margin: 2rem 0;
    grid-column: 6/41;
    label {
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
      color: $gray2;
    }
    .input-area {
      color: $gray2;
      margin-top: 0.5rem;
      background-color: $gray5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 2.5rem;
      max-width: 20rem;
      border-radius: 10px;
    }

    @media (max-width: 700px) {
      grid-column: 4/41;
    }
    @media (max-width: 550px) {
      font-size: 12px;
      grid-column: 3/41;
    }

    input {
      border: none;
      padding-left: 8px;
      outline: none;
      background-color: transparent;
    }
    span {
      background-color: $blue;
      color: white;
      height: 2.2rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      margin-right: 2px;
    }
  }

  .services {
    margin-top: 5rem;
    grid-column: 3/39;
    color: $gray1;
    @media (max-width: 550px) {
      font-size: 12px;
      grid-column: 1/41;
      margin-top: 2rem;
      margin-left: 1rem;
    }

    h3 {
      font-size: 36px;
      max-width: 320px;

      @media (max-width: 550px) {
        font-size: 24px;
        max-width: 250px;
      }
    }

    .services-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .card {
        background-color: white;
        margin: 1rem 0.5rem;
        max-width: 300px;
        max-height: 370px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 24px;
        cursor: pointer;
        @media (max-width: 700px) {
          margin: 1rem 0;
        }

        span {
          color: white;
          background-color: $blue;
          padding: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
        }
        .red {
          background: rgba(235, 87, 87, 1);
        }
        .green {
          background: rgba(39, 174, 96, 1);
        }
        h4 {
          color: $gray1;
          font-weight: 900;
          font-size: 24px;
          margin: 20px 0;
        }
        p {
          font-size: 1rem;
          color: $gray2;
        }
        button {
          margin: 20px 0;
          background-color: $gray5;
          border: none;
          border-radius: 10px;
          font-size: 1rem;
          padding: 10px 10px;
          cursor: pointer;
        }
      }
      .card:hover {
        box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);

        button {
          background-color: $blue;
          color: white;
        }
      }
    }
  }
  .our-works {
    margin-top: 5rem;
    grid-column: 3/39;
    color: $gray1;
    @media (max-width: 550px) {
      font-size: 12px;
      grid-column: 1/40;
      margin-top: 2rem;
      margin-left: 1rem;
    }

    h3 {
      font-size: 36px;
      max-width: 370px;
      margin-bottom: 1rem;

      @media (max-width: 550px) {
        font-size: 24px;
        max-width: 250px;
      }
    }

    .section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .card {
        margin: 1rem;
        max-width: 545px;
        @media (max-width: 700px) {
          margin: 0.5rem 0 0.5rem 0;
        }

        img {
          width: 100%;
          border-radius: 2rem;
        }
        p {
          font-size: 14px;
          color: $gray3;
          @media (max-width: 700px) {
            font-size: 12px;
          }
        }
        h4 {
          font-size: 20px;
          color: $gray1;
          @media (max-width: 700px) {
            font-size: 16px;
          }
        }

        .more {
          color: $blue;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          margin-top: 11rem;
          font-size: 24px;
          @media (max-width: 700px) {
            justify-content: flex-start;
            margin-top: 1rem;
            font-size: 18px;
          }
        }
      }
      .moved {
        transform: translateY(15%);
        @media (max-width: 700px) {
          transform: translateX(0);
        }
      }
    }
  }
  .clients {
    margin-top: 4rem;
    grid-column: 3/39;
    color: $gray1;
    @media (max-width: 550px) {
      font-size: 12px;
      grid-column: 1/41;
      margin-top: 2rem;
      margin-left: 1rem;
    }
    .clients-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 700px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .text {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .red {
          color: rgba(235, 87, 87, 1);
        }
        h3 {
          font-size: 2rem;
          color: $gray1;
          font-weight: 700;
          margin: 1rem 0;
        }
        p {
          color: $gray3;
          font-size: 1rem;
        }
      }
      .img {
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 0.5rem;

        @media (max-width: 700px) {
          margin-top: 2rem;
          margin-left: 0;
        }
        img {
          border-radius: 1rem;
          width: 100%;
        }

        .img-1 {
          grid-column: 1/2;
          grid-row: 2/4;
          max-width: 200px;
          max-height: 200px;
        }
        .img-2 {
          grid-column: 2/3;
          grid-row: 1/3;
          max-width: 200px;
          max-height: 200px;
        }
        .img-3 {
          grid-column: 2/3;
          grid-row: 3/5;
          max-width: 200px;
          max-height: 200px;
        }
      }
    }
  }

  .testimonial {
    margin: 4rem 0;
    grid-column: 3/39;
    color: $gray1;
    @media (max-width: 550px) {
      font-size: 12px;
      grid-column: 1/41;
      margin: 2rem 0;
      margin-left: 1rem;
    }

    .testimonial-container {
      h3 {
        font-size: 36px;
        max-width: 900px;
        @media (max-width: 700px) {
          font-size: 18px;
        }
      }
    }
    .profile {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 1rem;

      img {
        width: 80px;
        height: 80px;
        border-radius: 1rem;
      }
      div {
        margin-left: 1rem;
        h5 {
          font-size: 1.2rem;
          color: $gray1;
          font-weight: 700;
        }
        p {
          color: $gray3;
          font-size: 1rem;
        }
      }
    }
  }
}
